body{
	font-family:Roboto;
	font-weight:normal !important;
}


.pagination.pg-teal .active .page-link {
	box-shadow:none !important;
	background:#59cb90 !important;
}
th, td {
	padding-top: 10px !important;
	padding-bottom:4px !important;
}.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
	font-weight:normal !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .5rem;
	margin-left: 5px;
	padding-left: .5rem;
	margin-right: 5px;
}
.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
td {
	font-size: 14px;
	color: #555;
}
tbody>tr>td{
  cursor:pointer !important;
}
.modal-backdrop {
   background-color: black;
}
cascading-modal{
  margin-top:20% !important;
}
option:hover{
  border-right: 4PX SOLID BLACK !important;
  outline: none !important;
}
select:hover{
  cursor:pointer !important;

}
.file-field.medium .file-path-wrapper {
  height: 3rem; }
  .file-field.medium .file-path-wrapper .file-path {
	height: 2.8rem; }

.file-field.big-2 .file-path-wrapper {
  height: 3.7rem; }
  .file-field.big-2 .file-path-wrapper .file-path {
	height: 3.5rem; }

/*NEW*/
#home-search-buttons .form-control {
	background-color: #fff;
	height: 54px;
	border-color: 1px solid blue !important;
	color: #444;
}

.input-group-btn{
	margin-right:5px !important;
}


.input-group>.form-control:([readonly]){
	border:1px solid orange !important;
}
.input-group>.form-control:focus:not([readonly]) {
	border-bottom:2px solid rgba(16, 183, 72, 0.42) !important;

}

.input-group-btn .btn-default{
}



/*End*/


/*Navbar Icon*/
.navbar.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  cursor: pointer;
  width:40px !important;
  border-radius:3px !important;
  background-color: rgba(68, 180, 107, 0.9) !important;
}
/**/
/*Responsive Setting*/
@media (min-width: 992px){
.modal-lg {
	max-width: 940px;
}
}
@media (min-width: 992px) {
  .container{
	width:85% !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
	  .container{
	width:100% !important;
  }
  }
}

@media only screen and (max-width: 600px) {

  }


 /*DATE PICKER*/
.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active {
	color: #fff;
	background-color: #3ec37d;
	border-color: #204d74;
}
.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus {
	color: #fff;
	 background-color: #3ec37d;
	border-color: #122b40;
}
.datepicker-dropdown {
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.10) !important;
}

/* MODIFIKASI ATTRIBUTE*/




.title:hover{
	color:#53b87c  !important ;
}
th{
	text-align:center !important;
}
th{
	padding:6px !important;
}
.bgdefault{
	background:#fbfbfb !important;
}
footer.page-footer{
background-color:rgb(93, 240, 164) !important
}
kbd{
	font-family:inherit !important;
	letter-spacing:.5px;
	background:#eee;
	font-size:14px !important;
	color:#000 !important;
}
.fileinput-filename{
		display: inline-block;
	overflow: hidden;
	padding: 10px 10px 10px 10px;
	vertical-align: middle;
	border-bottom: 1px solid #cbcbcb;
	background: #f5f5f5;
	border-radius: 4px;
}
.btn{
	border-radius:4px !important;
}
.btn-default{
	background:#eee !important;
	color:#444 !important;
	border:1px solid #ddd;
}
.btn-orange{
	background:#ff7b4f !important

}
.btn-default:hover{
	background:#ddd !important;
}
th{
	font-weight:500 !important;
	color:#555 !important;
}
tr>td{
	font-weight:400;
	color:#444
}
@media (min-width: 992px){
.navbar{
 	height:66px;  
	border-bottom:1px solid #ccc;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 10, 0.25) !important;
/*box-shadow:0px 0px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;*/
	/*border-bottom:1px solid  rgba(49, 183, 72, 0.72) !important;*/
}
}
.modal-content,.modal-header{
	/*background:rgba(12, 100, 50, 0.44) !important;	*/
	border-radius:3px !important;

}
.modal-header{
	border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;
}
.btn-danger{
	background-color: #ff6573 !important;
}
.navbar .dropdown-menu a:hover{
	color:#000 !important;
}

.navbar-toggler-icon{

	padding:10px;
}
label{
	font-weight:400 !important;
	color:#555!important;
}
.sizelabel{
		font-weight: 400 !important;
	color: #555!important;
	font-size:14px !important;
}
.sizelabel>label{
	font-weight: 400 !important;
	color: #555!important;
	font-size:14px !important;
}

.hm-stylish-strongg{
	/*background-color: rgba(42, 165, 85, 0.88) !important;*/
}

.clear1{
	padding-top:10px;
}
.clear1_{
	padding-top:15px;
}
.clear3_{
	padding-top:24px;
}
.clear4{
	padding-top:40px;
}
.clear7{
	
}
.chosen-select-deselect{
	font-weight:normal !important;
}
.chosen-container{
		font-weight: normal !important; 
}
.chosen-container-single:focus{
	border:1px solid #8bc34a !important; 
}
.btn-md{
	font-weight:normal !important;
	font-size:14px !important;
}

.input-sm{
	font-size: 14px !important;
}
.input-group>.form-control {
	position: relative;
	z-index: 0;
	border:2px solid #ddd;
	-webkit-box-flex: 1;
	padding:15px !important;
	margin:5px ;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
transition: all 0.4s !important;
	margin-bottom: 0;
}
.chosen-container-single .chosen-single {
	box-shadow:none !important;
}

.success-color{
	background: linear-gradient(to right, rgba(13,179,107,1) 0%, rgba(15,181,86,1) 59%, rgba(16,183,72,1) 100%) !important;
	opacity: 0.7;
}
a.nav-link{
	color:#000 !important
}
@media (min-width: 768px){
.text-md-left {
	text-align: left;
}
}
@media (min-width: 600px){
.text-center-sm{
	text-align:center;
}
	}
.image-bg-fluid-height {
	/* background: url('../img/500.jpg') no-repeat center center scroll; */
	background: url('../images/bg-header.jpg')no-repeat center; background-size: cover;
	padding:32px 0px 25px;
	margin-top:50px
}
.blok-white {
	height: 1px;
	background: white !important;
	width: 100%;
}
.m_{
	margin-top:10px;
}
.intro-2 {
	background: url("../images/bg-header.jpg")no-repeat center center;
/*	background: linear-gradient(to right, rgba(13,179,107,1) 0%, rgba(15,181,86,1) 59%, rgba(16,183,72,1) 100%);*/
	background-size: cover;
}
.top-nav-collapse {
	background-color: #ff8a65 !important;
	}
.navbar:not(.top-nav-collapse) {
}
@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse) {

	}
}
.md-form .prefix {
	font-size: 1.5rem;
	margin-top: 1rem;
}
h6 {
	line-height: 1.7;
}
@media (max-width: 740px) {
	.full-height,
	.full-height body,
	.full-height header,
	.full-height header .view {
		height:100% !important;
	}
}

.btn.peach-gradient {
	background: -webkit-linear-gradient(50deg,#FFD86F,#FC6262);
	background: linear-gradient(40deg,#8BC34A,#4CAF50);
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
compiled.min.css:1
.peach-gradient {
	background: -webkit-linear-gradient(50deg,#FFD86F,#FC6262);
	background: linear-gradient(40deg,#FFD86F,#FC6262);
}


.btn-rounded{
	border-radius:20px;
}


.input-group.md-form.form-sm.form-1 input{
	border: 1px solid #bdbdbd;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
	border: 1px solid #bdbdbd;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border  {
	border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border  {
	border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border  {
	border: 1px solid #ffca28;
}

/* ATTRIBUTE BARU */
.accordion>.card>.card-header{
	background:#f3f3f3;
}
.accordion>.card>.card-header>a{
	color:#0eb45d;
}
.accordion>.card{
	border:1px solid #ddd !important;
}
.card{
	box-shadow: none !important;
	border:1px solid #ddd !Important;
}

.labmod{
		font-size: .9rem;
	font-weight: 400;
	border-bottom:1px solid #ddd;
	padding-bottom:2px;
}
.rad_cos{
	border-top-left-radius:0px !important;
	border-bottom-left-radius:0px !important;
}
.rad_cus{
	border-top-right-radius:0px !important;
	border-bottom-right-radius:0px !important;
}
.rad_{
	border-radius:0px !important;
}
.shadowmod{
	box-shadow: none !important;
}

.addmod{
	background:  rgba(0, 82, 6, 0.33)!important
}
.addatt{
	border-top:1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.modal-dialog.modal-notify.modal-success .modal-header{
   background: linear-gradient(to right, rgba(13,179,107,1) 0%, rgba(15,181,86,1) 59%, rgba(16,183,72,1) 100%) !important;
	opacity: 0.8;
	box-shadow:none !important
}
.defaultcolor{
	background: linear-gradient(to right, rgba(13,179,107,1) 0%, rgba(15,181,86,1) 59%, rgba(16,183,72,1) 100%) !important;
	opacity: 0.7;
}
